<div class="container">
	<div class="row">
		<div class="col-md-5">
			<h2>Movies You Should Watch</h2>
			<ul class="list-group">
				<li ng-repeat="persMovie in persMovies" class="list-group-item">
					<a ng-href="#/movie/{{persMovie.movieId}}"><h4>{{persMovie.title}}</h4></a>
					<img ng-src="{{persMovie.image}}" width="100" height="120" />
					<!--<movie ng-model="persMovies" movie-image>{{persMovie.image}}</movie>-->
					<span class="badge"><h1>{{persMovie.rating}}</h1></span>
				</li>
			</ul>
		</div>
		<div class="col-md-5">
			<h2>Top 5 Movies</h2>
			<ul class="list-group">
				<li ng-repeat="movie in movies" class="list-group-item">
					<a ng-href="#/movie/{{movie.movieId}}"><h4>{{movie.title}}</h4></a>
					<img ng-src="{{movie.image}}" width="100" height="120" />
					<span class="badge"><h1>{{movie.rating}}</h1></span>
				</li>
			</ul>
		</div>
	</div>


</div> 
<!-- /container -->