<div class="container">

	<div class="starter-template">

		<div class="row">
		  
		  <div class="col-md-4">
		  	<a href="#" class="thumbnail">
		  		<span movie-image="title" image-width="200" image-height="250"></span>
		  	</a>
		  </div>
		  
		  <div class="col-md-8">
		  	<h1>{{movie.title}}</h1>
		  	<h2>Tags:</h2>
		  	<p>Description?</p>
		  </div>

		</div>
		<h2>People Who Watched This Movie Also Watched...</h2>
		<div class="row">
 			<div ng-repeat="movie in similarMovies" class="col-lg-4">
	          <h3>{{movie.title}}</h3>
	          <span movie-image="movie.title" image-width="75" image-height="100"></span>
	          <span class="badge"><h1>{{movie.rating}}</h1></span>
	          <br /><br />
	          <p><a class="btn btn-primary" ng-href="#/movie/{{movie.movieId}}" role="button">View Movie &raquo;</a></p>
	       </div>
      </div>

	</div>

</div> <!-- /container -->