<div class="container">

	<div class="starter-template">

		<div class="row">
		  
		  <div class="col-md-4">
		  	<a href="#" class="thumbnail">
		  		<img src="http://ia.media-imdb.com/images/M/MV5BODU4MjU4NjIwNl5BMl5BanBnXkFtZTgwMDU2MjEyMDE@._V1_SX300.jpg" alt="">
		  	</a>
		  </div>
		  
		  <div class="col-md-8">
		  	<h1>Movie (ID: {{ routeParams.movieId }} )</h1>
		  	<h2>Tags:</h2>
		  	<p>Description?</p>
		  </div>

		</div>
		<h2>People Who Watched This Movie Also Watched...</h2>
		<div class="row">
 			<div ng-repeat="movie in similarMovies" class="col-lg-4">
	          <h3>{{movie.title}}</h3>
	          <span class="badge"><h1>{{movie.rating}}</h1></span>
	          <p><a class="btn btn-primary" ng-href="#/movies/{{movie.movieId}}" role="button">View Movie &raquo;</a></p>
	       </div>
      </div>

	</div>

</div> <!-- /container -->